{% extends "main/base.html" %}
{% block content %}
  <h2>About</h2>
  <center>
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/395051/images/1978224/django_python.jpg">
    <p style="padding: 7%;">This is my basic Python/Django practice site allowing you to email request on how to better this site and give feedback on what to add. Please enjoy yourself.</p>
  </center>
{% endblock content %}
