<!DOCTYPE html>
<html>
  <head>
      <title>Sup, World!</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

  <!-- Navbar -->
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand mb-0" href='{% url "main:index" %}'>Customer Requests</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href='{% url "main:index" %}'>Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "main:about" %}'>About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "main:contact" %}'>Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "main:customer_list" %}'>Customer List</a>
    </li>
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul> -->
  <!-- <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
</nav> <!-- Navbar -->

    <h1>Customer Requests</h1>
    {% block content %}

    {% endblock content %}
  </body>
</html>
