{% extends "main/base.html" %}
{% block content %}
  <h2>Contact</h2>
  <div style="margin-left: 20%">
    <div class="form-group">
      <form role="form" action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>





{% endblock content %}
