{% extends "main/base.html" %}

{% block content %}
  {% if object %}
    <h2>Edit {{ object.first_name }}</h2>
  {% else %}
    <h2>Create</h2>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
  </form>
{% endblock %}
