{% extends "main/base.html" %}

{% block content %}
  <h2>{{ object.first_name }} {{ object.last_name }}</h2>
  <p><em>by {{ object.email }}</em></p>
  <p>{{ object.phone_number }}</p>
  <a href="{% url 'main:customer_edit' object.pk %}">Edit</a>
  |
  <a href="{% url 'main:customer_delete' object.pk %}">Delete</a>
{% endblock %}
