{% extends "main/base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ object.first_name }}?</p>
    <input type="submit" value="yes" />
    <a href="{% url 'main:customer_list' %}">no</a>
  </form>
{% endblock %}
