{% extends "main/base.html" %}

{% block content %}
  {% for customer in object_list %}
  <div style="margin-left: 10%">
    <h4>
      {{ customer.first_name }} {{ customer.last_name }}
      <a href="{% url 'main:customer_detail' customer.pk %}">detail...</a>
    </h4>
  {% endfor %}
  <a href="{% url 'main:customer_create' %}">Add...</a>
</div>
{% endblock %}
