{% extends "main/base.html" %}
{% block content %}
  <h2>Hello, Customers!</h2>
  <p>
    This is a basic project in Django and Python allowing you to fill in customer requests and connect with others. Things you may be able to do:
  </p>
    <ul class="list-group" style="width:50%;margin: 0 auto;">
      <li class="list-group-item">Email in a client request!</li>
      <li class="list-group-item">Edit your request in our database.</li>
      <li class="list-group-item">Cancel in the request at any given moment of time.</li>
    </ul>
{% endblock content %}
