<nav>
  <ul>
    <li><a href='{% url "main:index" %}'>Home</a></li>
    <li><a href='{% url "main:about" %}'>About</a></li>
    <li><a href='{% url "main:contact" %}'>Contact</a></li>
    <li><a href='{% url "main:customer_list" %}'>Customer List</a></li>
  </ul>
</nav>
